@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-primary: #00db4d;
  --c-background: #121212;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--c-background);
}
